span.item-titre {
	font-family: 'Prosto One', cursive; 
	font-weight: bold;
	 position: absolute; 
	 bottom: 20px; 
	 left: 2px;
	 width: 100%;

	 padding-top: 2px; 
	 padding-bottom: 2px; 
	 text-align: center; 
	 text-decoration: none; 
	 font-size: 20px; 
	 display: block;
	 background: purple; 
	 color: white;
}

span.item-titre:first-letter {
	font-size: 25px;
}

div.item:hover  span.item-titre
{
	background: #C3C3C3;
	color: purple;
}

div.item a {
	position: relative;
	display: block;
}


