		    			<div class="span-24 last" id="bandeau">
			    			 	{{ getSpipJquerySlider(idRubriqueBandeau, { "width" : 950, theme : "StandartVignette", "height" : hauteurBandeau, texte: false, "vignetteW" : 50,	"vignetteH" : 50 }) | raw }}
		    					<div class="autocolant">
		    						Salon climatisé
		    					</div>
		    			</div>