    			<h1 class="title span-7 prepend-1">
    				<img src="{{ asset('/images/logo.png' ) }}">
    				<p>L'Art </BR>dez'Ongles</p>
    			</h1>
    			<div class="menu span-16 last">{{ knp_menu_render('SiteHomeBundle:MainBuilder:build') }}</div>
    			<div id="telephone">01.60.04.75.94</div>
