body {
  background: #990000;
}
body,
a {
  color: #4d4d4d;
}
/* Reset style */
h2.block-title {
  margin: 0px;
}
div#bandeau {
  border-bottom: solid #1a1a1a 2px;
}
div#header {
  z-index: 2000;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div#header h1 {
  color: #cc0000;
  text-shadow: 1px 1px 2px #660000;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Aladin', sans-serif;
  overflow: hidden;
}
div#header h1 img {
  float: left;
  padding-top: 10px;
}
div#header h1 p {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
}
.text-centered {
  text-align: center;
}
div#header,
div#footer {
  background-color: #ffcccc;
}
div#header div#telephone {
  position: absolute;
  right: 10px;
  bottom: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #e67564;
  font-weight: bold;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #990000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div#footer {
  margin-top: 50px;
  overflow: hidden;
  color: #330000;
}
ul.referencement li a {
  color: transparent !important;
}
/* Slider */
div.slides_container,
div.slides {
  height: 250px;
  width: 950px;
}
div.produits-list div.slides_container,
div.produits-list div.slides {
  width: 220px;
}
/* #email-link */
div#footer-real {
  position: relative;
}
div#footer-real p {
  margin: 0px;
}
p#email-link {
  position: absolute;
  right: 0px;
  top: 0px;
}
p#email-link a {
  color: transparent;
  font-size: 15px;
}
p#email-link a:hover {
  color: white;
}
div#page {
  background: #f5954b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 10px #4d4d4d;
}
/* Menu compatible sub-menu */
div.menu li {
  list-style: none;
}
div.menu > ul > li {
  float: left;
  position: relative;
}
div.menu > ul > li ul {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 150px;
  padding: 0px;
  display: none;
}
div#body-content {
  min-height: 600px;
}
div.menu > ul > li:hover ul {
  display: block;
}
div.menu a {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  background: #4d4d4d;
  color: #ff9999;
}
div.menu a:hover {
  background: #f5954b;
  color: black;
}
/*
 *  Les formulaire
 */
fieldset {
  padding: 0px;
  border: none;
  border-top: solid black 2px;
}
fieldset legend {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
form div div,
form p {
  overflow: hidden;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
form div div label,
form p label {
  text-align: right;
  padding-right: 10px;
  display: block;
  width: 100px;
  float: left;
}
form div div:hover label::before,
form p:hover label::before {
  content: ">> ";
}
form div div:hover,
form p:hover {
  background: black;
  color: white;
}
input,
textarea {
  margin: 0px !important;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
textarea {
  height: 100px;
}
form div div:hover input,
form div div:hover textarea,
form p:hover input,
form p:hover textarea {
  border-color: white;
}
input[type=submit] {
  float: right;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: solid gray 2px;
}
input[type=submit]:hover {
  cursor: pointer;
  background: gray;
  color: white;
}
input[type=text],
input[type=password] {
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(90deg, #ffffff, #eeeeee);
  /* Firefox */

  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff), color-stop(0.2, #ffffff));
  /* Webkit */

  border: 1px solid #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px;
}
input[type=text]:focus,
input[type=password]:focus {
  border-color: #093c75;
  outline: none;
  /* Pour enlever le contour jaune lorsque l'on sÃ©lectionne un input dans Chrome */

}
input[type=submit],
.submit {
  background: orange;
  background: -moz-linear-gradient(90deg, #0459b7, #08adff);
  /* Firefox */

  background: -webkit-gradient(linear, left top, left bottom, from(#ff8080), to(#ff0000));
  /* Webkit */

  border: 1px solid #093c75;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 120px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 1px 1px #333;
  text-transform: uppercase;
}
input[type=submit]:hover,
.submit:hover {
  background: #eee;
  background: -moz-linear-gradient(90deg, #ff8080, from(#ff0000));
  background: -webkit-gradient(linear, left top, left bottom, to(#ff8080), from(#ff0000));
  border-color: #093c75;
  text-decoration: none;
}
input[type=submit]:active,
.submit:active,
input[type=submit]:focus,
.submit:focus {
  background: #ccc;
  background: -moz-linear-gradient(90deg, #0bcdff, #067cd3);
  background: -webkit-gradient(linear, left top, left bottom, to(#ff8080), from(#ff0000));
  border-color: #093c75;
  outline: none;
}
/* Les tableau */
table {
  border: solid black 2px;
  margin: auto;
}
table tr td,
table tr th {
  padding: 5px;
  text-align: center;
}
table tr,
table tr a {
  background: gray;
  color: lightgray;
}
table tr:nth-child(odd),
table tr:nth-child(odd) a {
  background: lightgray;
  color: gray;
}
table tr:hover,
table tr:hover a {
  cursor: pointer;
  background: white;
  color: gray;
}

div.block.block-1-line {
  height: 50px;
}
div.block.block-2-line {
  height: 100px;
}
div.block.block-3-line {
  height: 150px;
}
div.block.block-4-line {
  height: 200px;
}
div.block.block-5-line {
  height: 250px;
}
div.block.block-6-line {
  height: 300px;
}
div.block.block-7-line {
  height: 350px;
}
div.block.block-8-line {
  height: 400px;
}
div.block.block-9-line {
  height: 450px;
}
div.block.block-10-line {
  height: 500px;
}

:root .transition-effect {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
:root .transition-effect.transition-effect-out:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  box-shadow: 1px 2px 25px gray;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 25px gray;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 1px 2px 25px gray;
  -webkit-border-radius: 5px;
  z-index: 5;
}
:root .transition-effect.transition-effect-out:hover div.block-content img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
:root div.block:hover > h2.block-title.transition-effect.transition-effect-zoomtitre {
  background: transparent !important;
  text-shadow: 1px 1px 10px #C3C3C3;
  -moz-text-shadow: 1px 1px 10px #C3C3C3;
  -webkit-text-shadow: 1px 1px 10px #C3C3C3;
  font-size: 25px;
  color: fuchsia;
  top: 0px;
  left: 0px;
  width: 130px;
  height: auto;
}

ul.referencement {
  overflow: hidden;
}
ul.referencement li {
  float: left;
  list-style: none;
}
ul.referencement li a {
  color: transparent;
}

.slides.slides-design-standartvignette ul.pagination li a {
  color: gray;
  text-shadow: 1px 1px 1px white;
}
.slides.slides-design-standartvignette {
  position: relative;
}
.slides.slides-design-standartvignette .slide-item-texte {
  text-align: center;
  background: gray;
  padding: 5px;
}
.slides.slides-design-standartvignette div#conteneur-bandeau img {
  box-shadow: -1px 1px 5px #808080;
}
.slides.slides-design-standartvignette ul.pagination {
  position: absolute;
  bottom: 0px;
  display: block;
  /* background: #CCCCC1; */

  margin: 0px;
  z-index: 50;
  width: 100%;
}
.slides.slides-design-standartvignette ul.pagination li a {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  display: block;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: none;
  font-weight: bold;
  border-radius: 10px;
}
.slides.slides-design-standartvignette ul.pagination li a img {
  border: solid white 2px;
}
.slides.slides-design-standartvignette ul.pagination li a:hover img {
  border: solid black 2px;
}
ul.pagination li {
  float: left;
  list-style: none;
}

.slides.slides-design-slider ul.pagination li a {
  color: gray;
  text-shadow: 1px 1px 1px white;
}
.slides.slides-design-slider {
  position: relative;
}
.slides.slides-design-slider .slide-item-texte {
  text-align: center;
  background: gray;
  padding: 5px;
}
.slides.slides-design-slider img {
  box-shadow: -1px 1px 5px #808080;
}
.slides.slides-design-slider ul.pagination {
  position: absolute;
  bottom: 60px;
  display: block;
  background: #CCCCC1;
  margin: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  z-index: 50;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.slides.slides-design-slider ul.pagination li a {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  display: block;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: none;
  font-weight: bold;
  border-radius: 10px;
}
.slides.slides-design-slider ul.pagination li a:hover {
  background: gray;
}
ul.pagination li {
  float: left;
  list-style: none;
}
